body {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* margin: 0 auto; */
}

.product_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 1023px) {
  .product_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .product_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
